@font-face {
    font-family: 'glitched';
    src: url('/assets/fonts/GlitchGoblin-2O87v.ttf');
}

.main {
    width: 100%;
    padding: 2rem 2rem;
    background-color: transparent;
    color: grey;
    box-shadow: 0 0 5px 2px #72ABFF;
    transition: box-shadow 0.5s ease-in-out;
}

.main:hover {
    box-shadow: 0 0 75px #72ABFF;
    .verticalBar {
        border-left: 5px solid #72ABFF;
    }
}

.footerInfo {
    justify-content: center;
    display: flex;
}

.footerlinks {
    display: flex;
}

.footerlink {
    margin-top: 4px;
    text-shadow: 0 0 1px #b8f0ff;
    transition: font-size 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;
}

.footerlink:hover {
    font-size: larger;
    color: white;
    text-shadow: 0 0 2px #b8f0ff;
    text-decoration: underline;
    text-decoration-color: #72ABFF;
}

.footercol {
    text-align: center;
    margin: 1rem;
    width: 150px;
    overflow: auto;
}


.logo {
    margin: 3rem;
    font-size: 40px;
    font-family: glitched;
    color: grey;
    cursor: pointer;
    transition: text-shadow 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.logo:hover {
    background-color: transparent;
    color: #b8f0ff;
    text-shadow: 0 0 10px #b8f0ff;
}

.socialMedias {
    display: flex;
    justify-content: center;
}

.socialMedias > div {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: transparent;
}

.verticalBar {
    height: inherit;
    display: flex;
    justify-content: center;
    border-left: 2px solid transparent;
    border-radius: 1rem;
    transition: border-left 0.5s ease-in-out;
}

.copyright {
    font-size: smaller;
    display: flex;
    justify-content: center;
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    .icon {
        filter: invert(1);
    }
}