.main {
    width: 100%;
    padding: 2rem 2rem;
    background-color: transparent;
    color: grey;
    transition: box-shadow 0.5s ease-in-out;
}

.main:hover {
    box-shadow: 0 0 50px #b8f0ff;
}

.footerlink {
    margin: 5px;
}

.footerlink:hover {
    cursor: pointer;
    color: white;
    text-shadow: 0 0 0 white;
    text-decoration: underline;
    text-decoration-color: cyan;
}

.footerInfo {
    display: flex;
}

.footerlinks {
    font-size: 15px;
    margin-right: 0;
    margin-left: auto;
    display: flex;
}

.footerlinks > div {
    margin: 2rem;
    text-shadow: 0 0 1px white;
}

.logo {
    padding: 3rem;
    font-size: 40px;
    color: grey;
    cursor: pointer;
}

.logo:hover {
    color: white;
    text-shadow: 0 0 10px cyan;
}

.socialMedias {
    display: flex;
    justify-content: center;
}

.socialMedias > div {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: transparent;
}

.verticalBar {
    height: 100%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin: 0 20px;
}

.copyright {
    font-size: smaller;
    display: flex;
    justify-content: center;
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    .icon {
        filter: invert(1);
    }
}